#header-container {
    background-image: linear-gradient(to right, rgb(141, 141, 190), navy);
}

h1 {
    color: white;
    text-align: center;
}

#search-button, #search-input {
    margin-left: 25px;
    margin-top: 8px;
}

#city-label {
    font-size: 28px;
    font-weight: bolder;
}

#current-city-container {
    border: solid black 2px;
}

#current-city {
    color: black;
}